pkgbase = zfs-dkms-git
	pkgdesc = Kernel modules for the Zettabyte File System.
	pkgver = 2021.11.13.r7179.g8ac58c3f56
	pkgrel = 1
	url = https://zfsonlinux.org/
	arch = x86_64
	groups = archzfs-dkms-git
	license = CDDL
	makedepends = git
	depends = zfs-utils-git=2021.11.13.r7179.g8ac58c3f56
	depends = lsb-release
	depends = dkms
	provides = zfs
	provides = zfs-headers
	provides = spl
	provides = spl-headers
	conflicts = zfs
	conflicts = zfs-headers
	conflicts = spl
	conflicts = spl-headers
	replaces = spl-dkms-git
	source = git+https://github.com/zfsonlinux/zfs.git#commit=8ac58c3f567a87cc9b69d89cd18754b5dcf20cfc
	sha256sums = SKIP

pkgname = zfs-dkms-git
