pkgbase = zfs-dkms-git
	pkgdesc = Kernel modules for the Zettabyte File System.
	pkgver = 2021.04.30.r6791.gc903a756a
	pkgrel = 1
	url = https://zfsonlinux.org/
	arch = x86_64
	groups = archzfs-dkms-git
	license = CDDL
	makedepends = git
	depends = zfs-utils-git=2021.04.30.r6791.gc903a756a
	depends = lsb-release
	depends = dkms
	provides = zfs
	provides = zfs-headers
	provides = spl
	provides = spl-headers
	conflicts = zfs
	conflicts = zfs-headers
	conflicts = spl
	conflicts = spl-headers
	replaces = spl-dkms-git
	source = git+https://github.com/zfsonlinux/zfs.git#commit=c903a756ac5ff151b99080f60eead22fc6302f0f
	sha256sums = SKIP

pkgname = zfs-dkms-git

